@import url("../../../font-awesome-4.0.3/css/font-awesome.min.css");

#container_popup { padding:15px 5px }

.item-table {
	border-top: 2px solid #b91504;
	border-right: 1px solid #e8e8e8;
}

.item-table th, .item-table td {
    border-bottom: 1px solid #cccccc;
    text-align: center;
    font-size: 12px;
    
}

.item-table th, .item-table td {
    border-bottom: 1px solid #cccccc;
    text-align: center;
    font-size: 12px;
    background-color: #f8f8f8;
}

.calendar-table {
	border-top: 2px solid #b91504;
	border-right: 1px solid #e8e8e8;
	border-collapse: collapse;
}

.calendar-table th, .calendar-table td {
    border-bottom: 1px solid #cccccc;
    text-align: center;
    font-size: 12px;
	height: 33px;
	background-color: #f8f8f8;
    border: 1px solid #cccccc;
}

.calendar-table td {
    border-bottom: 1px solid #cccccc;
    text-align: left;
    font-size: 12px;
	padding:5px;
	background-color: #ffffff;	
	border: 1px solid #cccccc;
}

.product_title { 
	font-family: "Noto Sans KR", "돋움", Dotum, "굴림", Gulim, Verdana, AppleGothic, sans-serif;
	font-weight:bold;
	font-size:26px;
	margin-bottom:20px;
	border-bottom:2px solid #e8e8e8;
	color: #898989;
}

.item-div {width:100%}
.item-div li {float:left;margin-right:10px;margin-bottom:30px;}
.item-div * { font-family: "Noto Sans KR", "돋움", Dotum, "굴림", Gulim, Verdana, AppleGothic, sans-serif;}
.item-type-title {
	z-index: 2;
	position: absolute;
    font-size: 59px;
	font-weight:bold;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 30%;
    color: #dfdfdf;
}

.item-info-box {
	z-index: 5;
    position: absolute;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 8%;
}

.item-term {
	font-size: 24px;
    font-weight: bold;
   
}

.item-price-kor {
	margin-top:5px;
	font-size: 22px;
    font-weight: bold;
	color: #d5313a;
    font-family: "Noto Sans KR", "돋움", Dotum, "굴림", Gulim, Verdana, AppleGothic, sans-serif;
}

.item-price {
	margin-top:5px;
	font-size: 20px;
    font-weight: bold;
	color: #4c4c4c;
    font-family: "Noto Sans KR", "돋움", Dotum, "굴림", Gulim, Verdana, AppleGothic, sans-serif;
}
.item-button {
	margin-top:5px;
}