
.l-ball {
	border: 0px solid black;
    /* padding: 9px; */
    margin: 5px;
    width: 18px;
    height: 30px;
    float: left;
    text-align: center;
    text-align: center;
    line-height: 30px;
    /* border-radius: 20px; */
    background: #eeeeee;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.l-ball.checked {
	background:#6699cc;
	color:#ffffff;
}

.l-ball.small {
    width: 22px !important;
    height: 35px !important;
    text-align: center;
}

.picked {
	background:#ff9900;
	color:#ffffff !important;
}

.picked-bonus {
	background:#ff2828;
	color:#ffffff !important;
}

.tb-mypage {border-top:2px solid #dd9200;}
.tb-mypage th {text-align:center;padding:10px;line-height:26px}
.tb-mypage td {border-bottom:1px solid #cccccc;padding-top: 10px;padding-bottom: 10px;color:#454545;font-size:13px;line-height:26px;padding:10px}
.tb-mypage .col {position:relative;text-align:center;border:0px;padding:0px;width:205px;height:234px;padding-top:20px}
.tb-mypage .title {font-size: 14px;width:100%;text-align:center;padding: 20px 0 10px 0;display:block;}
.tb-mypage th {background-color:#fafafa; font-weight:bold; color:#454545; text-align:center;;font-size:13px;line-height:26px}
.tb-mypage .clear_border_r {border-right:none;}
.tb-mypage td:last-child, .tb-mypage th:last-child{border-right:0px !important}
.tb-mypage td:last-child:not(:only-child), .tb-mypage th:last-child:not(:only-child){/* border-left:1px solid #e8e8e8;*/}
.tb-mypage td[rowspan]:not(:first-child) { border-left:1px solid #e8e8e8;}

.tb-mypage-01 {border-top:2px solid #dd9200;}
.tb-mypage-01 th {text-align:center;padding:10px;line-height:26px;border-bottom:1px solid #cccccc}
.tb-mypage-01 td {border-bottom:1px solid #cccccc;padding-top: 10px;padding-bottom: 10px;color:#454545;font-size:13px;line-height:26px;padding:10px}
.tb-mypage-01 .col {position:relative;text-align:center;border:0px;padding:0px;width:205px;height:234px;padding-top:20px}
.tb-mypage-01 .title {font-size: 14px;width:100%;text-align:center;padding: 20px 0 10px 0;display:block;}
.tb-mypage-01 th {background-color:#fafafa; font-weight:bold; color:#454545; text-align:center;;font-size:13px;line-height:26px}
.tb-mypage-01 .clear_border_r {border-right:none;}
.tb-mypage-01 td:last-child, .tb-mypage th:last-child{border-right:0px !important}
.tb-mypage-01 td:last-child:not(:only-child), .tb-mypage th:last-child:not(:only-child){/* border-left:1px solid #e8e8e8;*/}
.tb-mypage-01 td[rowspan]:not(:first-child) { border-left:1px solid #e8e8e8;}

.as-btn.green, .as-btn.green:link, .as-btn.green:visited {
	border-radius: 15px
}

.as-btn.white, .as-btn.white:link, .as-btn.white:visited {
	border-radius: 15px;
}

.as-btn.red, .as-btn.red:link, .as-btn.red:visited {
	border-radius: 15px;
}


.flex-wrap {
	vertical-align:top;
}

.flex-wrap > .item {
	float:left;
	width: 48%;
}