.util {position:relative; height:45px; line-height:45px;right:0; float:right;overflow:hidden; }
.util li {float:left; padding:0 6px 0 0; color:#797979}
.util li img{padding:0 5px 0 0}
.util li .box{margin-top:8px;display:block;color:#797979;border-radius:3px;border:1px solid #d7d7d9;width:auto;height:26px;padding:0 15px 0 15px;background-color:#ffffff;text-align:center;line-height:26px}
.util li .box:hover{border:1px solid #ff5654;border-radius:3px;color:#ff5654;transition:all 0.2s ease;}
.util li a{color:#797979;font-weight:500}
.util li a{color:#797979;font-weight:500}
.util li:last-child {background:none; padding:0;}
.util a.home {padding-left:20px; background:url(/images/main_util_home.png) left 3px no-repeat;}

.util_in {position:relative; height:45px; line-height:45px;right:0; float:right;overflow:hidden; }
.util_in li {float:left; padding:0 6px 0 0; color:#797979}
.util_in li .box{margin-top:8px;display:block;color:#797979;border-radius:3px;border:1px solid #d7d7d9;width:auto;height:26px;padding:0 15px 0 15px;background-color:#ffffff;text-align:center;line-height:26px}
.util_in li .box:hover{border:1px solid #ff5654;border-radius:3px;color:#ff5654;transition:all 0.2s ease;}
.util_in li a{color:#797979;font-weight:500}
.util_in a.home {padding-left:20px; background:url(/images/main_util_home.png) left 3px no-repeat;}
